
<div class="services">
  <div class="first_section">
   <div class="first_para">
     <p>Our Core Service is all about TECH,</p>
     <p>we are passionate about latest technologies and</p>
     <p>very early to adopt them into our stack</p>
   </div>
   <div class="">
     <h1 class="web_heading">MOBILE APPLICATION DEVELOPMENT</h1>
   </div>
  </div>
  <div class="second_section">
   <div>
     <h6>CORE SERVICES</h6>
   </div>
   <div class="cards">
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/web.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">01.</p></div>
       <h4 class="cardhed">Web Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/mobile.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">02.</p></div>
       <h4 class="cardhed">Mobile Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/ecommerce.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">03.</p></div>
       <h4 class="cardhed">eCommerce Store</h4>
       <h4 class="cardhed">Setup</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/backend.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">04.</p></div>
       <h4 class="cardhed">Backend and</h4>
       <h4 class="cardhed">Database</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/cloud.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">05.</p></div>
       <h4 class="cardhed">Cloud Deployments</h4>
       <h4 class="cardhed">& Devops</h4>
     </div>
   </div>
  </div>
  <div class="third_section animated-element" appScrollTrigger>
   <div class="third_subsection1">
    <p class="para2">MOBILE APPLICATION DEVELOPMENT</p>
    <h1 class="heading2">Thinking of having a modern cross-platform mobile app?</h1>
   </div>
   <div class="third_subsection2">
     <div>
       <p class="para3">A mobile app has almost become a necessity for most businesses to keep your customers engaged and staying ahead of the competition.</p><br>
       <p class="para3">We can help you design and develop modern mobile cross-platform. We understand that mobile apps can become high investments, especially when targeting multiple platforms like android/ios.</p><br>
       <p class="para3">We specifically focus on hybrid mobile apps which are cross-platform, fast and provide fully native experience using latest technologies like Flutter, React Native, Ionic. This helps you reduce your initial costs, maintenance overheads and time to market.</p><br>
       <p class="para3">We keep ourself updated with the latest ecosystem of tools and frameworks out there and provide you with the best possible solution.</p>
     </div>
     <div class="third_subsection3">
       <ul class="main_header">
         <span class="main_heading">TECH STACK</span>
         <li class="para4">-React Native</li>
         <li class="para4">-Ionic</li>
         <li class="para4">-Flutter</li>
         <li class="para4">-Expo</li>
         <li class="para4">-Electron.js</li>
       </ul>
       <div>
         <span class="main_heading">DEPLOYMENT</span>
         <li class="para4">-Android</li>
         <li class="para4">-IOS</li>
         <li class="para4">-Windows</li>
         <li class="para4">-Desktop</li>
       </div>
     </div>
   </div>
  </div>
  <div class="fourth_section">
    <div class="fourth_subsection">
      <div class="main_content">
      <div class="main_content1">
        <div>
          <img class="React" src="../../../assets/images/react (1).svg" alt="">
          <p class="shopify">React Native</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/expo.svg" alt="">
          <p class="shopify">Expo</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/flutter.svg" alt="">
          <p class="shopify">Flutter</p>
        </div>
        <div>
         <img class="expo" src="../../../assets/images/ionic.svg" alt="">
         <p class="shopify">Ionic</p>
        </div>
      </div>
      <div class="main_content1">
        <div>
          <img class="expo" src="../../../assets/images/material-ui.svg" alt="">
          <p class="shopify">Materialui</p>
        </div>
        <div>
          <img class="React" src="../../../assets/images/firebase.svg" alt="">
          <p class="shopify">Firebase</p>
        </div>
        <div>
          <img class="expo"  src="../../../assets/images/realmdb.svg" alt="">
          <p class="shopify">Realmdb</p>
        </div>
        <div>
         <img class="expo"  src="../../../assets/images/xcode.svg" alt="">
         <p class="shopify">Xcode</p>
        </div>
      </div>

      </div>

      <div class="client_para">
       <p class="TECHNOLOGIES">OUR SERVICES ARE DRIVEN BY CUTTING EDGE TECHNOLOGIES</p>
       <h4 class="TechStack">TechStack we prefer</h4>
       <p class="TECHNOLOGIES">We are not fanatical about a single solution. We pride ourselves on finding the best fit for our client’s needs.</p>
       <p class="TECHNOLOGIES">As tech world is changing very fast, we keep adding latest tech to our stack.</p>
       <span class="TECHNOLOGIES">..................</span>
      </div>
    </div>
    <div><h3 id="hire">HIRE US?</h3></div>
   </div>
  <div class="fourth">
   <div class="fourthsection">
     <div class="cards">
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/planning.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">01</p></div>
         <h4 class="cardhed">Planning & Strategy</h4>
         <div class="card-body">
           <p class="card-text">
             We plan projects to include milestones, scope of work and
             timelines to stay on budget and deliver a solution as per your
             expectations. Our strategies to always to keep up with the latest
             tech stack but still .
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img src="./../../../assets/images/ux.svg" alt="..." width="79%" />
         </div>
         <div class="cardhed"><p class="cardhed1">02</p></div>
         <h4 class="cardhed">UX Concept & Design</h4>
         <div class="card-body">
           <p class="card-text">
             Send your specification and we’ll send back wireframes, guidelines
             which embraces your vision. We work with the latest design tools
             like Figma, Adobe XD to easily collaborate and developer quality
             UI/UX for your web apps.
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/development.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">03</p></div>
         <h4 class="cardhed">Frontend and Backend Development</h4>
         <div class="card-body">
           <p class="card-text">
            We write well structured, quality code following industry best practices.All our code is always commented and also using version control and PR verified.We always stick to best practices and.
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/app-store.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">04</p></div>
         <h4 class="cardhed">App Store Deployment</h4>
         <div class="card-body">
           <p class="card-text">
            There are many complexities involved in getting your app approved on app stores and setting up all information properly.We guide you through the process and in dealing with all queries as per app store guidelines
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/maintenance.svg"
             alt="..."/>
         </div>
         <div class="cardhed"><p class="cardhed1">05</p></div>
         <h4 class="cardhed">Maintenance</h4>
         <div class="card-body">
           <p class="card-text">
             We believe in maintaining relationships with our customers rather
             than providing them with a one-time solution. In this
             fast-changing tech landscape, we keep advising and supporting our.
           </p>
         </div>
       </div>
     </div>
   </div>
  </div>
  <div class="fifth_section">
   <div class="">
     <p class="para2">WHY EXCELLENCE TECHNOLOGIES FOR MOBILE APP DEVELOPMENT?</p>
     <h1 class="heading2">What Mobile App Development means to us at Excellence Technologies</h1>
   </div>
   <div class="">
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/1.svg" alt="">
         </div>
         <div>
           <h3 class="headings">Cross Platform App</h3>
                 <p class="paras">We strongly believe in hybrid apps which provide cross platform app while still providing fully native mobile app experience. This help to keep costs low and quickly deliver your apps to market.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/2.svg" alt="">
           </div>
           <div>
             <h3 class="headings">Startups</h3>
                   <p class="paras">Mobile apps help to engage and retain customers. With most startups taking the mobile first approach, we help startups to market their ideas fast. Our app development process helps startups keep costs low and quickly deploy a working app on app store.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/3.svg" alt="">
         </div>
         <div>
           <h3 class="headings">eCommerce Store</h3>
                 <p class="paras">Have an eCommerce store and looking for an app to keep your customers engaged? We working with many eCommerce Cms platforms like Magento, Shopify, Woocomerce and provide tailor made mobile app solutions to integrate with these solutions.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/4.svg" alt="">
           </div>
           <div>
             <h3 class="headings">Product Companies</h3>
                   <p class="paras">Planning to launch your existing product on a mobile app? We can provide you with quality work to help you increase your customers and get more conversions.</p>
           </div>
         </div>
       </div>
      </div>
   </div>
  </div>
  <div class="owl-carousel">
    <div class="item">
      <div class="crousel">
        <div class="crousel_subsection">
         <div class="crousel_items">
           <p class="crousel_heading">OUR FETURED PROJECTS</p>
         <h3 class="safe">Betica</h3>
         <p class="crousel_para">Its a startup concept to assign a single"Safename"to multiple blockchain wallets of a user</p>
         <p class="language">-ReactJS</p>
         <p class="language">-Redux/Sagas</p>
         <p class="language">-NodeJS</p>
         <p class="language">-Vuejs</p>
         </div>
         <div style="margin: auto;">
           <img class="crousel_icon" src="../../../assets/images/arrow icon.png" alt="">
         </div>
        </div>
         <div>
           <img class="crousel_image" src="../../../assets/images/quick (2).webp" alt="">
         </div>

      </div>
    </div>
    <div class="item">
      <div class="crousel">
        <div class="crousel_subsection">
         <div class="crousel_items">
           <p class="crousel_heading">OUR FETURED PROJECTS</p>
         <h3 class="safe">Stilt</h3>
         <p class="crousel_para">Its a startup concept to assign a single"Safename"to multiple blockchain wallets of a user</p>
         <p class="language">-python</p>
         <p class="language">-flask</p>
         <p class="language">-Nodejs</p>
         <p class="language">-Angular</p>
         </div>
         <div style="margin: auto;">
           <img src="../../../assets/images/arrow icon.png" alt="">
         </div>
        </div>
         <div>
           <img class="crousel_image" src="../../../assets/images/quick (4).webp" alt="">
         </div>
      </div>
    </div>
  </div>
  <div class="seventh_section">
   <div>
     <p class="our_para">FROM OUR BLOGS</p>
   </div>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Back-End &amp; Database  Mobile Apps  NodeJS </span>
       <p  class="blog">Node.js App Security</p>
       <p class="paras1">Nowadays, we see a lot of serious security breaches in the software. Someone said that, If you develop software, security is a part of your job. …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Flutter  Mobile Apps </span>
       <p class="blog">Flutter Redux – Part 3 Async</p>
       <p class="paras1">This continuation of previous two blogs on redux flutter. In this we explore more redux tools like how to perform async operations and dev tools.</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Flutter  Mobile Apps </span>
         <p class="blog">Flutter Redux – Part 2</p>
         <p class="paras1">This is continuation of the previous blog and in this we look at more advanced implementation of redux with flutter like to take this forward.</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div><br>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Flutter  Mobile Apps </span>
       <p  class="blog">Flutter – State Management with Redux</p>
       <p class="paras1">In this blog post, we will look more deeply into state manage in flutter apps.</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Flutter  Mobile Apps </span>
       <p class="blog">Flutter By Example Part 1</p>
       <p class="paras1">In previous blogs we saw very basic things with flutter, now going forward i would like to take this forward …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Flutter  Mobile Apps </span>
         <p  class="blog">Flutter User Interactions</p>
         <p class="paras1">In this post we will see how to handle user interactions like click/tap events and respond to them</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div>
 </div>
 <div class="eight_section">
   <div class="subeight">
   <div class="subeight2">
     <div>
       <p class="paras3">Please, provide us with as much detailed information as possible</p><br>
       <form class="form_set">
         <input type="text" class="form-control wid" placeholder="Your name"><br>
         <input type="text" class="form-control wid"  placeholder="Contact number"><br>
         <input type="text" class="form-control wid" placeholder="Email Address">
       </form>
     </div>
     <div>
       <form class="form_set2">
         <textarea class="textar" name="message" id="" cols="10" rows="6" placeholder="Message" class="form-control wid"></textarea>
       </form>
     </div>
     <div class="form_btn"><button class="btn btn-outline-primary btn3">Submit</button></div>

   </div>
   </div>
   <div>
    <div class="let">
     <p class="TECHNOLOGIES" style="color: #817fea;">THINK WE’D BE A MATCH?</p>
     <h3 class="TechStack" style="color: #817fea; font-weight: bold;">LET’S CONNECT</h3>
     <span class="email">Email</span>
     <p class="paras2">contact@excellencetechnologies.in</p>
     <span class="email">Address</span>
     <p class="paras2">C86 B,Sector 8,Noida (Uttar Pradesh)</p>
     <span class="email">Phone</span>
     <p class="paras2">+91 01204278603</p>
     <span class="email">Skype</span>
     <p class="paras2">sales@excellencetechnologies</p>
    </div>
   </div>
 </div>
 <div class="foo1">
   <div class="nineth_section">
     <div class="nineth_subsection">
       <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
       <div class="footericon">
         <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
       </div><br>
       <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
         All Rights Reserved</span></div>
     </div>
     <div class="hire1">
       <div><p class="footerhed">HIRE US</p></div>
       <div>
         <ul>
           <li><a class="nav-link" routerLink="/Home">Hire ReactJS Development Company</a></li>
           <li><a class="nav-link" routerLink="/about">Hire VueJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/services">Hire Angular Development Company</a></li>
           <li><a class="nav-link" routerLink="/career">Hire Typescript Development Company</a></li>
           <li><a class="nav-link" routerLink="/portfolio">Hire Materialui Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Bootstrap Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Javascript Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Fullstack Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire NextJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Redux Development Company</a></li>

         </ul>
       </div>
     </div>
     <div  class="hire1">
       <div><span class="footerhed">SERVICES</span></div><br>
         <div>
           <ul>
             <li><a class="nav-link" routerLink="/services">Web Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/mobileapplication">Mobile Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
             <li><a class="nav-link" routerLink="/services/backend-api-database">Backend and Database</a></li>
             <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
           </ul>
         </div>
     </div>
     <div>
       <div  class="hire1"><span class="footerhed">SOLUTIONS</span></div><br>
       <!-- <div class="fotertec"> -->
         <div>
           <ul>
             <li><a class="nav-link" href="">PWA App Development</a></li>
             <li><a class="nav-link" href="">Responsive Web App Development</a></li>
             <li><a class="nav-link" href="">SSR Web App Development</a></li>
             <li><a class="nav-link" href="">Dashboard Development</a></li>
             <li><a class="nav-link" href="">SAAS Webapp Development</a></li>
             <li><a class="nav-link" href="">Custom CRM & ERP Solutions</a></li>
           </ul>
         </div>
       <!-- </div> -->
     </div>
   </div>
 </div>
 </div>
