.ecommerce {
  position: absolute;
  left: 55px;
  top: 0px;
  width: 95.3vw;
}
.mainback {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
}
.para {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 1.5rem;
}
.heading {
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  padding-bottom: 1.5rem;
  color:#444;
  font-family: typold-bold
}
/* first section end */
h6 {
  color: #817fea;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 13px;
}
/* second section end */
.third {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 2rem;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 40%,
    rgba(0, 182, 152, 0.3) 100%
  );
}
.para2 {
  color: #817fea;
  font-size: 14px;
  padding-left: 3rem;
  padding-top: 1.5rem;
  color: #6b53ef;
  font-family: typold-thin;
  font-weight: 600;
}
.heading2 {
  color: #817fea;
  font-size: 49px;
  padding-left: 2.7rem;
  font-weight: bold;
}
.second {
  display: grid;
  grid-template-columns: 60% 40%;
  flex-wrap: wrap;
  gap: 25px;
  width: 90%;
}
.para3 {
  font-size: 18px;
  padding-left: 2rem;
  font-family: typold-thin;
  font-weight: 600;
  font-size: 1.2vw;
  padding-bottom: 2vw;
  margin: 0;
  color: #777
}
.subdiv {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-left: 1.5rem;
}
.head {
  color: #817fea;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
}
.para4 {
  font-size: 20px;
  font-weight: 600;
  font-family: typold-light;
  padding-left: 1vw;
  position: relative;
  color: #444;
  font-weight: 600;
}
.card-text{
  font-family: typold-thin;
  font-size:16px;
  color: #777;
  font-weight: 600;
  margin-bottom: 0;
}
/* fourth section end */
.fifth {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
}
.cross {
  display: grid;
  grid-template-columns: 50% 50%;
}
.cross1 {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 2rem;
}
.imgback {
  width: 80%;
  padding-left: 30%;
}
.headings {
  font-size: 27px;
  /* font-family: typold-medium; */
  font-weight: 700;
  color: #492f5c;
}
.paras {
  color: #777;
  font-size: 17px;
  font-weight: 600;
  font-family: typold-thin;
  color: #777;
  font-weight: 600;
}
/* fifth section end */
.sixth {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
}
.subsixth {
  display: grid;
  grid-template-columns: 30% 30% 35%;
  flex-wrap: wrap;
  gap: 20px;
}
.blog {
  font-size: 24px;
  padding-left: 3rem;
  font-weight: 500;
}
.blog1 {
  font-family: typold-book;
  font-size: 17px;
  padding-left: 3rem;
  font-weight: 500;
  color: #724ef4;
  position: relative;
  display: inline-block;
}
.blog1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 3rem;
  width: 35px;
  height: 2px;
  background-color: #6b53ef;
  transition: width 0.3s ease;
  cursor: pointer;
}

.blog1:hover::before {
  width: 80%;
  left: 3rem;
}
.paras1 {
  font-size: 16px;
  padding-left: 3rem;
  font-family: typold-thin;
  color: #777;
  font-weight: 600;

}
/* sixth section end */
.seventh2 {
  display: grid;
  grid-template-rows: 2;
  gap: 10px;
  padding-bottom: 3rem;
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
}
.seventh {
  display: grid;
  grid-template-columns: 50% 50%;
}
.techno {
  color: #fff;
  font-size: 22px;
  padding-top: 2rem;
}
.tech {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
}
.magento {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.shopify {
  color: #fff;
  font-size: 18px;
}
#hire {
  font-size: 39px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
/* seventh section end */
.eight {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5rem;
}
.subeight {
  display: grid;
  grid-template-rows: 2;
  padding-top: 2rem;
}
.subeight2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 35px;
}
.form_set {
  padding-left: 5rem;
}
.form_set2 {
  padding-top: 6.5rem;
  padding-left: 0px;
}
.btn1 {
  width: 10px;
}
.wid {
  width: 360px;
}

.paras3 {
  font-size: 20px;
  font-weight: 600;
  padding-left: 5rem;
  color: gray;
}
.email {
  font-size: 20px;
  font-weight: 600;
}
/* eighth section end */
.nineth {
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
li {
  list-style: none;
}
ul {
  padding-left: 0px;
  color: #fff;
  font-size: 18px;
}

.copy {
  padding-left: 2rem;
  padding-top:1.6rem;
}
.bottom {
  margin-bottom: 5rem;
}
.hire1 {
  padding-top: 1.5rem;
}
.let{
  padding-left: 3rem;
}
.let{
  padding-left: 20px;
}
@media screen  and (max-width: 1360px){
  .subeight2{
display: grid;
grid-template-columns: 100%;
  }
  .form_set2{
    padding-top: 0px;
    padding-left:5rem ;
  }
  .wid{
    width: 100%;
  }

}
@media screen and (min-width: 250px) and (max-width: 768px) {
  .ecommerce {
    left: 0px;
    width: 100vw;
  }
  h6 {
    font-size: 17px;
    padding-top: 5px;
    padding-left: 9px;
  }
  .para {
    font-size: 18px;
  }
  .heading {
    font-size: 22px;
  }
  .second {
    display: grid;
    grid-template-columns: 100%;
  }
  .heading2 {
    font-size: 30px;
    padding-left: 8px;
  }
  .para3 {
    padding-left: 8px;
    font-size: 16px;
  }
  .subdiv {
    padding-top: 1rem;
  }
  .para2 {
    font-size: 12px;
    padding-left: 1rem;
    font-weight: 700;
  }
  .cross {
    display: grid;
    grid-template-columns: 100%;
  }
  .imgback {
    width: 83%;
    padding-right: 3%;
    padding-left: 12%;
  }
  .para4 {
    font-size: 15px;
  }
  .subsixth {
    display: grid;
    grid-template-columns: 100%;
  }
  .paras1 {
    padding-left: 1rem;
  }
  .blog {
    padding-left: 1rem;
  }
  .seventh {
    display: grid;
    grid-template-columns: 100%;
  }
  .techno {
    padding-left: 1rem;
    font-size: 20px;
  }
  .tech {
    padding-left: 1rem;
    font-size: 45px;
  }
  .eight {
    display: grid;
    grid-template-columns: 100%;
  }
  .paras2 {
    font-size: 18px;
    padding-left: 1rem;
  }
  .email {
    font-size: 18px;
    padding-left: 1rem;
    font-weight: bold;
  }
  .subeight2 {
    display: grid;
    grid-template-columns: 100%;
  }
  .form_set {
    padding-left: 1rem;
  }
  .form_set2 {
    padding-top:1rem;
    padding-left: 1rem;
  }
  .wid {
    width: 100%;
  }
  .paras3 {
    padding-left: 1rem;
  }
  .nineth {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
  .copy {
    padding-left: 1rem;
  }
  .hire1 {
    padding-left: 1rem;
  }
  .let{
    padding-left: 0rem;
  }
  .blog1{
    padding-left: 1rem;
  }
  .blog1::before {
    position: absolute;
    top: 100%;
    left: 1rem;

  }
  .blog1:hover::before {
    width: 80%;
    left: 1rem;
  }
}
.animated-element {
  opacity: 0;
  transform: translateY(20px);
}

.another-element {
  opacity: 0;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s, transform 2s;
}
