<div class="career">
  <div class="firstsection">
   <div class="firsthed">
    <div><h3 class="subhed1">Do great work alongside other</h3></div>
      <div><h3 class="subhed1">talented, passionate, and creatives.</h3></div>
    <h1 class="subhed2">JOIN THE TEAM</h1>
   </div>
  </div>
 <div class="secondsection">
  <div class="fourth_section">
    <h6 class="subhed3"></h6>
    <h1 class="subhed4">We’re always looking for people with self motivation</h1>
    <div class="team">
   <div>
<div class="team_subsection">
  <div class="jobrol"><h2>PHP Developer</h2></div>
  <div class="jobdesc">
    <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
      <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
       basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
       worked on technologies like PHP, Javascript (both frontend and backend)</span>
  </div>
  <div class="team_footer">
    <div><span><li class="btn1">KNOW MORE</li></span></div>
    <div ><span><li class="btn1">APPLY NOW</li></span></div>
  </div>
</div>
</div>

<div>
  <div class="team_subsection">
    <div class="jobrol"><h2>Junior Web Developer</h2></div>
    <div class="jobdesc">
      <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
        <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
         basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
         worked on technologies like PHP, Javascript (both frontend and backend)</span>
    </div>
    <div class="team_footer">
      <div><span><li class="btn1" style=" color:#337ab7">KNOW MORE</li></span></div>
      <div ><span><li class="btn1" style=" color:#337ab7">APPLY NOW</li></span></div>
    </div>
  </div>
</div>

    </div>
   </div>
 <div class="thirdsection animated-element" appScrollTrigger>
  <div>
    <h6 class="work"></h6>
  <h1 class="subhed4">Our Culture is our biggest perk. Work hard, play hard.</h1>
  </div>
  <div class="row">
    <div class="col">
      <p class="para1">Join a team of passionate technology experts who create progress everyday,
         and take care of each other at every step of the professional journey. Our culture is build on open communication,
          togetherness and equal opportunities. It is easy to be creative and enthusiastic about your work, when you are a part of such a supportive environment.</p><br>
      <p  class="para1">We believe in passionate people. We don't offer perks to make people happy.
         Our work does that. We believe in building a culture. Our highly skilled teams work together to do what's never been done before, every day.
         We are designing and developing, meaningful and challenging projects using cutting-edge technology, with the ultimate goal to raise the bar even higher.</p>
    </div>
    <div class="col">
      <div class="content">
        <div>
        <h6 style="color: #413ef0;">CORE VALUES</h6>
      </div>
      <div>
        <p class="para1">- Creativity</p>
        <p class="para1">- Collaboration</p>
        <p class="para1">- Simplicity</p>
        <p class="para1">- Innovation</p>
        <p class="para1">- Passion</p>
        </div>
      </div>
    </div>

  </div>
  <div>
    <div class="cards" style="margin-top: 5rem;">
      <div class="card" style="width: 17rem;">
        <div class="imglogo"><img src="./../../../assets/images/Tight-Knit-Team.png"  alt="..." width="65%"></div><br>
        <h4 class="cardhed">Tight Knit Team</h4>
        <div class="card-body">
          <p class="card-text">We're a close group of talented people who enjoy working (and not working) together.</p>
        </div>
      </div>
      <div class="card" style="width: 17rem;">
     <div class="imglogo">   <img src="./../../../assets/images/Inspiring-Work.png"  alt="..." width="65%"></div><br>
        <h4 class="cardhed">Inspiring Work</h4>
        <div class="card-body">
          <p class="card-text">We're a close group of talented people who enjoy working (and not working) together.</p>
        </div>
      </div>
      <div class="card" style="width: 17rem;">
        <div class="imglogo"><img src="./../../../assets/images/Professional-Development.png" alt="..." width="65%"></div><br>
        <h4 class="cardhed">Professional Development</h4>
        <div class="card-body">
          <p class="card-text">Every day here offers the opportunity to create something amazing.</p>
        </div>
      </div>
      <div class="card" style="width: 17rem;">
        <div class="imglogo">
          <img src="./../../../assets/images/Great-Atmosphere.png"  alt="..." width="65%">
        </div><br>
        <h4 class="cardhed">Great Atmosphere</h4>
        <div class="card-body">
          <p class="card-text">Work alongside like minded individuals in an environment that fosters creativity.</p>
        </div>
      </div>
      <div class="card" style="width: 17rem;">
        <div class="imglogo">
          <img src="./../../../assets/images/Training-Mentorship.png" alt="..." width="65%">
        </div><br>
        <h4 class="cardhed">Training Mentorship</h4>
        <div class="card-body">
          <p class="card-text">Get ahead at work with regular training programs planned at every level.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="footer">
    <div class="footer1">
  <div class="firstfooter">
    <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
    <div class="footericon">
      <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
    </div><br>
    <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
      All Rights Reserved</span></div>
  </div>
  <div class="secondfooter">
    <div class="j1">
      <div><p class="footerhed">QUICK LINKS</p></div>
      <div>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/career">Career</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>


        </ul>
      </div>
    </div>
    <div class="j2">
      <div><span class="footerhed">SERVICES</span></div><br>
      <div>
        <ul>
          <li><a routerLink="/services">Web Application Development</a></li>
          <li><a routerLink="/services/mobileapplication">Mobile Application Development</a></li>
          <li><a routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
          <li><a routerLink="/services/backend-api-database">Backend and Database</a></li>
          <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
        </ul>
      </div>
    </div>
    <div class="j3">
      <div><span class="footerhed">TECHNOLOGIES</span></div><br>
      <div class="fotertec">
        <div>
          <ul>
            <li><a href="">Magento</a></li>
            <li><a href="">React JS</a></li>
            <li><a href="">React native</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Angular JS</a></li>
            <li><a href="">Android App</a></li>
            <li><a href="">MongoDB</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li><a href="">Express</a></li>
            <li><a href="">API Development</a></li>
            <li><a href="">Shopify</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Laravel</a></li>
            <li><a href="">Flask</a></li>
            <li><a href="">Django</a></li>
            <li><a href="">NodeJS</a></li>

          </ul>
        </div>
      </div>

    </div>

  </div>
    </div>
  </div>
 </div>
</div>
