<div class="about">
  <div class="firstsection">
    <div class="firsthed">
     <div><h3 class="subhed1">IT Services company</h3></div>
       <div><h3 class="subhed1">with vision to provide Excellence in.</h3></div>
     <h1 class="subhed2">SOFTWARE SOLUTIONS</h1>
    </div>
   </div>
   <div class="secondsection">
    <div class="row2">
      <div class="col">
        <div>
          <h6 class="our_blogs"></h6>
         <h1 class="subhed4">We Believe Growth is a Team Sport</h1>
        </div><br>
         <p class="subpara" >We are India based IT Services company found in 2009,
          with the vision to provide Excellence in Software Solution.
          We at Excellence Technologies bring innovative ideas and cutting
           edge technologies into the business of customers.</p>
           <p class="subpara">Excellence Technologies specialized in providing high technology,
            end-to-end solutions in Web Application, Mobile Application,
            eCommerce Development and Back-End Development.</p>
            <p class="subpara">We aren't just helping companies globally grow, we are
              helping more than one thousand
              employees grow personally and professionally.</p>
      </div>
      <div class="col">
        <div class="image">
          <img class="backimg" src="../../../assets/images/Layer 1.png" alt="">
        </div>
      </div>
    </div>
   </div>
   <div class="thirdsection">
      <div class="box">
        <div class="boximg"><img class="iconimg" src="../../../assets/images/Layer 5.png" alt="" ></div>
      </div>

    <div class="sdiv"  class="animated-element" appScrollTrigger>

      <div class="subthirdsection">
        <div class="subfdiv"><img class="dirimg" src="../../../assets/images/Layer 4.png" alt="" ></div>
        <div class="subsdiv">
          <div><p class="dir">DIRECTOR</p></div>
          <div>
            <h1 class="dirname">Manish Prakash</h1>
            <p class="dirdec">He has a Bachelor of Technology (B.Tech) degree from IIT, Guwahati.
              With over 10 years experience, he has been able to set up one of the
               most successful web design companies, Excellence Technologies.</p>
               <p class="dirdec">He is super proud of his talented and growing team of experts. His biggest vision is to build Excellence
                 Technologies to a point where it becomes recognized for delivering quality
                IT service solutions to customers worldwide.</p>
          </div>
        </div>

      </div>
    </div>

   </div>
   <div class="fourth_section">
    <h6 class="join"></h6>
    <h1 class="subhed4">We’re always looking for people with self motivation</h1>
    <div class="team">
   <div>
<div class="team_subsection">
  <div class="jobrol"><h2>PHP Developer</h2></div>
  <div class="jobdesc">
    <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
      <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
       basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
       worked on technologies like PHP, Javascript (both frontend and backend)</span>
  </div>
  <div class="team_footer">
    <div><span><li class="btn1">KNOW MORE</li></span></div>
    <div ><span><li class="btn1">APPLY NOW</li></span></div>
  </div>
</div>
</div>

<div>
  <div class="team_subsection">
    <div class="jobrol"><h2>Junior Web Developer</h2></div>
    <div class="jobdesc">
      <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
        <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
         basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
         worked on technologies like PHP, Javascript (both frontend and backend)</span>
    </div>
    <div class="team_footer">
      <div><span><li class="btn1" style=" color:#337ab7">KNOW MORE</li></span></div>
      <div ><span><li class="btn1" style=" color:#337ab7">APPLY NOW</li></span></div>
    </div>
  </div>
</div>

    </div>
   </div>
   <!-- <div class="fourthsection">
    <div>
      <h6 class="subhed3">JOIN THE TEAM</h6>
    <h1 class="subhed4">We’re always looking for people with self motivation</h1>
    </div>
    <div class="row row1">
     <div class="col">
      <div class="jobrol"><h2>PHP Developer</h2></div>
      <div class="jobdesc">
        <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
          <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
           basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
           worked on technologies like PHP, Javascript (both frontend and backend)</span>
      </div>
        <div class="jobfooter">
            <div><span><a href="">KNOW MORE</a></span></div>
          <div ><span><a class="link"href="">APPLY NOW</a></span></div>
      </div>

     </div>
     <div class="col">
      <div class="jobrol"><h2>Junior Web Developer</h2></div>
      <div class="jobdesc">
        <span class="subpara1">This opening is only for candidates from 0 to 6 months of experience. Good
          <br> Knowledge in PHP, MySQL, CSS, HTML and Jquery is required. Should have<br>
           basic/advanced knowledge of Javascript, Ajax, Jquery. Candidate should have <br>
           worked on technologies like PHP, Javascript (both frontend and backend)</span>
      </div>
      <div class="jobfooter">
        <div><span><a href="">KNOW MORE</a></span></div>
        <div ><span class="link"><a href="" >APPLY NOW</a></span></div>
      </div>
    </div>
   </div>
   </div> -->
   <div class="footer">
    <div class="footer1">
  <div class="firstfooter">
    <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
    <div class="footericon">
      <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
    </div><br>
    <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
      All Rights Reserved</span></div>
  </div>
  <div class="secondfooter">
    <div class="j1">
      <div><p class="footerhed">QUICK LINKS</p></div>
      <div>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/career">Career</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="j2">
      <div><span class="footerhed">SERVICES</span></div><br>
      <div>
        <ul>
          <li><a routerLink="/services">Web Application Development</a></li>
          <li><a routerLink="/services/mobileapplication">Mobile Application Development</a></li>
          <li><a routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
          <li><a routerLink="/services/backend-api-database">Backend and Database</a></li>
          <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
        </ul>
      </div>
    </div>
    <div class="j3">
      <div><span class="footerhed">TECHNOLOGIES</span></div><br>
      <div class="fotertec">
        <div>
          <ul>
            <li><a href="">Magento</a></li>
            <li><a href="">React JS</a></li>
            <li><a href="">React native</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Angular JS</a></li>
            <li><a href="">Android App</a></li>
            <li><a href="">MongoDB</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li><a href="">Express</a></li>
            <li><a href="">API Development</a></li>
            <li><a href="">Shopify</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Laravel</a></li>
            <li><a href="">Flask</a></li>
            <li><a href="">Django</a></li>
            <li><a href="">NodeJS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

