/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  /* Navbar styles */
  .navbar {
    background-color:#fff;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    /* width: 55px; */
  }

  .navbar-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    position: fixed;
    top: 3%;
    left:12px;

  }
  .logo {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    position: fixed;
  }

  .navbar-icon span {
    display: block;
    width: 32px;
    height: 5px;
    background-color: rgb(27, 24, 24);
    margin: 6px 0;
    transition: 0.4s;
  }
  /* Side navigation styles */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0%;
    left: 2%;
    background-color:#fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 100;
    background: #fff;
      -webkit-clip-path: polygon(0 0,45% 0,100% 100%,0% 100%);
      clip-path: polygon(0 0,45% 0,100% 100%,0% 100%);
      position: fixed;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 99999;
      transition: 1s;
      filter: drop-shadow(8px 0px 4px rgba(145,144,135,0.28));
  }
  .sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    transition: 0.3s;
    position:relative;
    top: 7%;
    left: 11%;
    color: #337ab7;
  }

  /* .sidenav a:hover {
    background-color:skyblue;
  } */

  .icons{
    display: flex;
    align-items: center;
    gap: 10px;
    position:relative;
    top: 9%;
    left: 7%;

  }

  .icon{
    position: relative;
    right: 10px;
  }

  @media screen and (max-width:1425px) {
    .navbar{
      width: 100vw;
      height: 55px;
      background: transparent;
    }
  }
@media screen and (max-width:425px) {

  .navbar{
    width: 100vw;
    height: 55px;
    background: transparent;
  }
  .icon{
    display: none;
  }
 .sidenav{
  left: 0px;
  width: 250px;
 }
}

@media screen and (max-width:525px) {
.sidenav{
  left: 0px;
  width: 250px;
  -webkit-clip-path: none;
  clip-path: none;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: 1s;
  filter: drop-shadow(8px 0px 4px rgba(145,144,135,0.28));
}
.icon{
  display: none;
}
}
@media screen and (max-width:1440) {
 .sidenav{
  left: 45px;
  width: 50px;
 }
}
