.services {
  position: absolute;
  left: 55px;
  top: 0px;
  width: 95.3vw;
}
.first_section {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
  width: 95.3vw;
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
}
.first_para {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 1.5rem;
}
.web_heading {
  font-weight: bold;
  padding-bottom: 1.5rem;
  font-size:50px;
  color: #444;
  font-family: typold-bold;
  text-align: center;
}
/* first section end */
h6 {
  color: #817fea;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 13px;
}
/* second section end */
.third_section {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 2rem;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 40%,
    rgba(0, 182, 152, 0.3) 100%
  );
}
.para2 {
  font-family: typold-thin;
  color: #6b53ef;
  font-size: 15px;
  padding-left: 3rem;
  padding-top: 2.5rem;
}
.our_para{
  font-family: typold-thin;
  color: #6b53ef;
  font-size: 17px;
  padding-left: 3rem;
  padding-top: 2.5rem;
  font-weight: 600;
}
.heading2 {
  color: #817fea;
  font-size: 49px;
  padding-left: 2.7rem;
  font-weight: bold;
}
.third_subsection2 {
  display: grid;
  grid-template-columns: 60% 40%;
  flex-wrap: wrap;
  gap: 25px;
  width: 90%;
  padding-top: 3rem;
  padding-left: 1.5rem;
}
.para3 {
  padding-left: 2rem;
  font-weight: 600;
  font-family: typold-thin;
  color: #777;
  font-size: 18px;
  text-align: justify;
}

.third_subsection3{
  display: grid;
  grid-template-columns: 50% 50%;
}
.main_header{
  padding-left: 20px;
}
.main_heading {
  color: #817fea;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
}
.para4 {
  font-family: typold-light;
  font-size: 18px;
  font-weight: 600;
  color:#444
}
.cardhed{
  font-family: typold-medium;
  font-weight: 600;
  font-size: 24px;
  color: #492f5c;
}
.card-text{
  font-family: typold-thin;
  font-size: 16px;
  color: #777;
  font-weight: 600;
  text-align: justify;
}
/* fourth section end */
.fifth_section{
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
}
.sixth_section {
  display: grid;
  grid-template-columns: 50% 50%;
}
.sixth_subsection {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 2rem;
}
.imgback {
  width: 80%;
  padding-left: 30%;
}
.headings {
  font-size: 27px;
  /* font-family: typold-medium; */
  font-weight: 700;
  color: #492f5c;
}
.paras {
  font-family: typold-thin;
  color: #777;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
}
/* fifth end */
.seventh_section {
  display: grid;
  grid-template-rows: 2;
  flex-wrap: wrap;
}
.seventh_subsection {
  display: grid;
  grid-template-columns: 32% 32% 36%;
  flex-wrap: wrap;
  gap: 10px;
  width: 91vw;
}
.blog {
  font-family: typold-thin;
  font-size: 20px;
  padding-left: 3rem;
  font-weight: 500;
  color: #492f5c;
}
.blog1 {
  font-family: typold-book;
  font-size: 17px;
  padding-left: 3rem;
  font-weight: 500;
  color: #724ef4;
  position: relative;
  display: inline-block;
}
.blog1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 3rem;
  width: 35px;
  height: 2px;
  background-color: #6b53ef;
  transition: width 0.3s ease;
  cursor: pointer;
}

.blog1:hover::before {
  width: 80%;
  left: 3rem;
}
.paras1 {
  font-family: typold-thin;
  font-size: 17px;
  font-weight: 500;
  color: gray;
  padding-left: 3rem;
  text-align: justify;
}
.TECHNOLOGIES {
  font-size:18px;
  color: #fff;
  font-family: typold-thin;
  font-weight: 600;
  text-align: justify;
  padding-right: 1rem;
}
/* .client_para{
  margin-top: 5rem;
} */
.TechStack {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
}
.paras2 {
  font-size: 18px;
  color: gray;
}
.let{
  padding-left: 20px;
}
/* sixth section end */
.fourth_section {
  display: grid;
  grid-template-rows: 2;
  gap: 10px;
  padding-bottom: 3rem;
  margin-top: 2rem;
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
}
.fourth_subsection {
  display: grid;
  grid-template-columns: 50% 50%;
}
.TechStack {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
}
.main_content1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.main_content{
  display: flex;
  flex-direction: column;
}
.shopify {
  color: #fff;
  font-size: 14px;
}
#hire {
  font-size: 34px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.expo{
  width: 65%;
}
.React{
  width: 65%;
}
.expo1{
  width: 52%;
}
/* seventh section end */
.eight_section {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5rem;
}
.subeight {
  display: grid;
  grid-template-rows: 2;
  padding-top: 2rem;
}
.subeight2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 35px;
}
.form_set {
  padding-left: 5rem;
}
.form_set2 {
  padding-top: 6.5rem;
  padding-left: 0px;
}
.btn1 {
  width: 10px;
}
.wid {
  width: 360px;
}

.paras3 {
  font-size: 20px;
  font-weight: 600;
  padding-left: 5rem;
  color: gray;
}
.email {
  font-size: 20px;
  font-weight: 600;
}
.btn3{
  background: -webkit-linear-gradient(#00b698,#8e71f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    padding: 12px 18px;
    transition: all ease-in .8s;
    font-family: typold-regular;
    outline: none;
    position: relative;
    transform: skewX(-5deg);
    font-size: 1.2em;
    text-decoration: none;
    border: none;
 }

 .btn3::before, .btn3::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  opacity: 0;
  border: 2px solid;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: skewX(-10deg);
  transition: all ease-in .8s;
  border-image: linear-gradient(45deg,#00b698,#8e71f6) 1;
 }

 .btn3::before {
  top: 0;
  left: 0;
  border-width: 0 0 2px 2px;
 }
 .btn3::after {
  right: 0;
  bottom: 0;
  border-width: 2px 2px 0 0;
 }
 .form_btn{
  padding-left: 5rem;
 }
/* eight section end */
.foo1 {
  background-image: linear-gradient(to right top, #34c4ad, #817fea 70%);
}
.nineth_section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
li {
  list-style: none;
}
ul {
  padding-left: 0px;
  color: #fff;
  font-size: 18px;
}
.footerhed {
  color: white;
  padding-top: 10px;
  font-size: 20px;
}
.nineth_subsection {
  padding-left: 2rem;
  margin: auto;
}
.hire1 {
  padding-top: 1.5rem;
}
.cards{
  padding-top: 1rem;
}
@media screen  and (max-width: 1360px){
  .subeight2{
display: grid;
grid-template-columns: 100%;
  }
  .form_set2{
    padding-top: 0px;
    padding-left:5rem ;
  }
  .wid{
    width: 100%;
  }

}

@media screen and (min-width: 250px) and (max-width: 768px) {
  .services {
    left: 0px;
  }
  .first_section {
    width:100vw;
  }
  .first_para {
    font-size: 22px;
  }
  .web_heading {
    font-size: 30px;
  }
  .third_subsection2 {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .third_section{
    width: 100vw;
  }
  .heading2 {
    font-size: 25px;
    padding-left: 1rem;
  }
  .para2 {
    font-size: 13px;
    padding-left: 1rem;
  }
  .our_para {
    font-size: 13px;
    padding-left: 1rem;
  }
  .fourth_section{
    width: 100vw;
  }
  .sixth_section {
    display: grid;
    grid-template-columns: 100%;
  }
  .imgback {
    width: 100%;
    padding-right: 5%;
  }
  .seventh_subsection {
    display: grid;
    grid-template-columns: 100%;
  }
  .paras1 {
    padding-left: 1rem;
  }
  .blog {
    font-size: 18px;
    padding-left: 1rem;
    font-weight: 500;
  }
  .blog1 {
    font-size: 15px;
    padding-left: 1rem;
    font-weight: 500;
  }
  .eight_section {
    display: grid;
    grid-template-columns: 100%;
  }
  .paras2 {
    font-size: 15px;
    padding-left: 1rem;
  }
  .fourth_subsection {
    display: grid;
    grid-template-columns: 100%;
  }
  .TECHNOLOGIES {
    padding-left: 1rem;
    font-size: 16px;
  }
  .TechStack {
    padding-left: 1rem;
    font-size: 45px;
  }
  .email {
    font-size: 16px;
    padding-left: 1rem;
    font-weight: bold;
  }
  .subeight2 {
    display: grid;
    grid-template-columns: 100%;
  }
  .form_set {
    padding-left: 1rem;
  }
  .form_set2 {
    padding-top:1rem;
    padding-left: 1rem;
  }
  .wid {
    width:100%;
  }
  .paras3 {
    padding-left: 1rem;
  }
  .nineth_section {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }

  .nineth_subsection {
    padding-left: 1rem;
  }
  .hire1 {
    padding-left: 1rem;
  }
  .expo{
    width: 45%;
  }
  .React{
    width: 35%;
  }
  .expo1{
    width: 35%;
  }
  .git{
    width: 58%;
  }
  .shopify {
    color: #fff;
    font-size: 11px;
  }
  .para4 {
    font-size: 15px;
    font-weight: 600;
  }
  .main_header{
    padding-left: 0px;
  }
  .para3 {
    font-size: 16px;
    padding-left: 0rem;
    color: gray;
    font-weight: 600;
  }
  /* .paras {
    color: #777;
    font-size: 16px;
    font-weight: 600;
  } */
  .subeight {
    padding-top: 0rem;
  }
  .cards{
   margin-top: 1rem;
  }
  .blog1::before {
    position: absolute;
    top: 100%;
    left: 1rem;

  }
  .blog1:hover::before {
    width: 80%;
    left: 1rem;
  }
  .form_btn{
    padding-left: 1rem;
   }
}
.animated-element {
  opacity: 0;
  transform: translateY(20px);
}

.another-element {
  opacity: 0;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s, transform 2s;
}
