
<div class="services">
  <div class="first_section">
   <div class="first_para">
     <p>Our Core Service is all about TECH,</p>
     <p>we are passionate about latest technologies and</p>
     <p>very early to adopt them into our stack</p>
   </div>
   <div class="">
     <h1 class="web_heading">CLOUD DEPLOYMENTS & DEVOPS</h1>
   </div>
  </div>
  <div class="second_section">
   <div>
     <h6>CORE SERVICES</h6>
   </div>
   <div class="cards">
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/web.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">01.</p></div>
       <h4 class="cardhed">Web Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/mobile.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">02.</p></div>
       <h4 class="cardhed">Mobile Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/ecommerce.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">03.</p></div>
       <h4 class="cardhed">eCommerce Store</h4>
       <h4 class="cardhed">Setup</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/backend.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">04.</p></div>
       <h4 class="cardhed">Backend and</h4>
       <h4 class="cardhed">Database</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/cloud.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">05.</p></div>
       <h4 class="cardhed">Cloud Deployments</h4>
       <h4 class="cardhed">& Devops</h4>
     </div>
   </div>
  </div>
  <div class="third_section animated-element"  appScrollTrigger>
   <div class="third_subsection1">
    <p class="para2">CLOUD DEPLOYMENTS & DEVOPS</p>
    <h1 class="heading2">Deploying your solutions on cloud platforms?</h1>
   </div>
   <div class="third_subsection2">
     <div>
       <p class="para3">Deploying your solutions to cloud is very critical to get a scalable and secure platform.</p><br>
       <p class="para3">We work with many different cloud solutions and architectures to provide you with a custom plan as your needs.</p><br>
       <p class="para3">While its important to use cloud solutions, it also very critical to use proper architecture to lower costs and have minimum downtime.</p><br>
       <p class="para3">We have a lot of experience working on different cloud platform and cloud services to help get the best possible results.</p>
     </div>
     <div class="third_subsection3">
       <ul class="main_header">
         <span class="main_heading">TECH STACK</span>
         <li class="para4">-AWS</li>
         <li class="para4">-Shopify</li>
         <li class="para4">-Azure</li>
         <li class="para4">-Digital Ocean</li>
         <li class="para4">-Heroku</li>
         <li class="para4">-Firebase</li>
       </ul>
       <div>
         <span class="main_heading">SOLUTIONS</span>
         <li class="para4">-EC2, Compute</li>
         <li class="para4">-Lamda, Cloud</li>
         <li class="para4">-Functions</li>
         <li class="para4">-Redshift / BigQuery</li>
         <li class="para4">-Dynamo Db / Cloud</li>
         <li class="para4">-Datastore</li>
         <li class="para4">-Docker</li>
         <li class="para4">-Kubernetes</li>
         <li class="para4">-Firestore</li>
       </div>

     </div>
   </div>
  </div>
  <div class="fourth">
    <div class="fourthsection">
      <div class="cards">
        <div class="card card1" style="width: 17rem">
          <div class="imglogo">
            <img
              src="./../../../assets/images/cloud-platform.svg"
              alt="..."
              width="79%"
            />
          </div>
          <div class="cardhed"><p class="cardhed1">01</p></div>
          <h4 class="cardhed">Cloud Platform</h4>
          <div class="card-body">
            <p class="card-text">
              We help you choose the best cloud platform specific to your project. There are many cloud platforms out there with specific advantages and unique services.
Our strategy is to help you maximize what you can gain out the cloud services while keeping your costs low.
            </p>
          </div>
        </div>
        <div class="card card1" style="width: 17rem">
          <div class="imglogo">
            <img src="./../../../assets/images/services.svg" alt="..." width="79%" />
          </div>
          <div class="cardhed"><p class="cardhed1">02</p></div>
          <h4 class="cardhed">Cloud Services</h4>
          <div class="card-body">
            <p class="card-text">
              Every cloud platform has a host of services to offer for different requirements.We help you navigate through the plethora of services our there and help you choose the best service specific for your project secure and scalable systems.
            </p>
          </div>
        </div>
        <div class="card card1" style="width: 17rem">
          <div class="imglogo">
            <img
              src="./../../../assets/images/architecture.svg"
              alt="..."
              width="79%"
            />
          </div>
          <div class="cardhed"><p class="cardhed1">03</p></div>
          <h4 class="cardhed">Architecture Design</h4>
          <div class="card-body">
            <p class="card-text">
              We design a secure and scalable architecture for your platform to deploy on the cloud.A robust system architecture is very crucial to maximum cloud throughput and keep costs low We highly recommend using microservices architecture to create .
            </p>
          </div>
        </div>
        <div class="card card1" style="width: 17rem">
          <div class="imglogo">
            <img
              src="./../../../assets/images/deployment.svg"
              alt="..."
              width="79%"
            />
          </div>
          <div class="cardhed"><p class="cardhed1">04</p></div>
          <h4 class="cardhed">Continuous Deployments</h4>
          <div class="card-body">
            <p class="card-text">
              It's very important to be able to deploy your latest releases in an automated fashion with automated testing and minimum downtime.We help you setup pipelines and release stages using the latest tools to have minimum downtime and smooth.
            </p>
          </div>
        </div>
        <div class="card card1" style="width: 17rem">
          <div class="imglogo">
            <img
              src="./../../../assets/images/scaling.svg"
              alt="..." width="85%"/>
          </div>
          <div class="cardhed"><p class="cardhed1">05</p></div>
          <h4 class="cardhed">Monitoring & Scaling</h4>
          <div class="card-body">
            <p class="card-text">
              Once a full system architecture has been setup a deploy it's very important to keep monitoring services and system help.We help setup automated health checks and notifications for critical events.Also setting up load services.
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>
  <div class="fourth_section">
    <div class="fourth_subsection">
      <div class="main_content">
      <div class="main_content1">
        <div>
          <img class="React" src="../../../assets/images/aws.svg" alt="">
          <p class="shopify">Aws</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/gcp.svg" alt="">
          <p class="shopify">Gcp</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/azure (1).svg" alt="">
          <p class="shopify">Azure</p>
        </div>
        <div>
         <img class="expo1" src="../../../assets/images/firebase.svg" alt="">
         <p class="shopify">Firebase</p>
        </div>
      </div>
      <div class="main_content1">
        <div>
          <img class="expo" src="../../../assets/images/kubernetes.svg" alt="">
          <p class="shopify">Kubernetes</p>
        </div>
        <div>
          <img class="React" src="../../../assets/images/docker (1).svg" alt="">
          <p class="shopify">Docker</p>
        </div>
        <div>
          <img class="git"  src="../../../assets/images/git.svg" alt="" width="58%">
          <p class="shopify">Git</p>
        </div>
        <div>
         <img class="git"  src="../../../assets/images/ci-cd.svg" alt="" width="62%">
      <p class="shopify"  style="padding-top: 1rem;">CI/CD</p>
        </div>
      </div>

      </div>

      <div class="client_para">
       <p class="TECHNOLOGIES">OUR SERVICES ARE DRIVEN BY CUTTING EDGE TECHNOLOGIES</p>
       <h4 class="TechStack">TechStack we prefer</h4>
       <p class="TECHNOLOGIES">We are not fanatical about a single solution. We pride ourselves on finding the best fit for our client’s needs.</p>
       <p class="TECHNOLOGIES">As tech world is changing very fast, we keep adding latest tech to our stack.</p>
       <span class="TECHNOLOGIES">..................</span>
      </div>
    </div>
    <div><h3 id="hire">HIRE US?</h3></div>
  </div>
  <div class="fifth_section">
   <div class="">
     <p class="para2">WHY EXCELLENCE TECHNOLOGIES FOR CLOUD INFRASTRUCTURE AND DEPLOYMENTS?</p>
     <h1 class="heading2">What Cloud Services means to us at Excellence Technologies</h1>
   </div>
   <div class="">
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/1 (2).svg" alt="">
         </div>
         <div>
           <h3 class="headings">Deploy your apps on cloud instances</h3>
                 <p class="paras">Deploy your apps on cloud compute and take advantage of different CPU and memory instances. Get general purpose to compute instance to high memory/high CPU depending on your specific and go upto latest GPU compute instances, you can choose all. We help setup many solutions from AWS ec2, light sail, google compute, google app engine among many other populate solutions.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/2 (3).svg" alt="">
           </div>
           <div>
             <h3 class="headings">Cloud Database</h3>
                   <p class="paras">Database is always one of the most critical blocks of any system. Choosing a database solution and optimizing it for your app is very important. We work with many solutions like AWS dynamodb, redshift to google Bigtable, Cloud SQL, firestore and help you choose what's best for your app.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/3 (3).svg" alt="">
         </div>
         <div>
           <h3 class="headings">Firebase</h3>
                 <p class="paras">Firebase is a very popular cloud solution for mobile apps providing a host of services from firestore, storage, hosting, cloud functions, crash analytics, cloud messaging among many others. Using firebase significantly reduces development time and overheads.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/4 (3).svg" alt="">
           </div>
           <div>
             <h3 class="headings">Serverless Lambda - Cloud Functions</h3>
                   <p class="paras">Deploy your API's and batch jobs on serverless architecture. Get fully scalable API's and high compute while paying only for what you use! Writing serverless API's gets your scalable API to easily meet your peak demands but still paying only for what you use.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="sixth_section">
      <div class="sixth_subsection">
        <div>
          <img class="imgback" src="../../../assets/images/5 (5).svg" alt="">
        </div>
        <div>
          <h3 class="headings">Microservices - Message Queues</h3>
                <p class="paras">Microservices is a very popular cloud architecture to deploy small independent components of your app as micro services and easily able to scale those services across instances. Using high performant message queues like Kafka, Rabbitmq, Cloud pub/sub paired with container orchestration like Docker, Cloud Registry, Kubernetes you can setup a really power architecture.</p>
        </div>
      </div>
      <div>
        <div class="sixth_subsection">
          <div>
            <img class="imgback" src="../../../assets/images/6 (5).svg" alt="">
          </div>
          <div>
            <h3 class="headings">Cloud Storage & Backups</h3>
                  <p class="paras">Planning to launch your existing product on a mobile app? We can provide you with quality work to help you increase your customers and get more conversions.</p>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="fifth_section">
    <div class="">
      <p class="para2">WHY EXCELLENCE TECHNOLOGIES FOR DEVOPS?</p>
      <h1 class="heading2">What DevOps means to us at Excellence Technologies</h1>
    </div>
    <div class="">
      <div class="sixth_section">
        <div class="sixth_subsection">
          <div>
            <img class="imgback" src="../../../assets/images/1 (3).svg" alt="">
          </div>
          <div>
            <h3 class="headings">Kubernetes - Docker Swarm</h3>
                  <p class="paras">Looking to scaling your containers, we work with complex setups using Kubernetes or simple solution using docker swarm. Depending on your requirements we have got you covered.</p>
          </div>

        </div>
        <div>
          <div class="sixth_subsection">
            <div>
              <img class="imgback" src="../../../assets/images/2 (4).svg" alt="">
            </div>
            <div>
              <h3 class="headings">CI/CD Pipelines</h3>
                    <p class="paras">We help you setup pipelines using tools like Jenkins, Travis ci, Circle ci, GitHub workflows to achieve automated testing and deployments for your environments. With fully automated workflows, there is no room for errors or mistakes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sixth_section">
        <div class="sixth_subsection">
          <div>
            <img class="imgback" src="../../../assets/images/3 (4).svg" alt="">
          </div>
          <div>
            <h3 class="headings">Automated Testing & Deployments</h3>
                  <p class="paras">Writing simple but effective unit tests for your apps are quite critical to get smooth deployments. With many frameworks out there, we help choose the best testing tools and setup unit tests for your apps.</p>
          </div>

        </div>
        <div>
          <div class="sixth_subsection">
            <div>
              <img class="imgback" src="../../../assets/images/4 (4).svg" alt="">
            </div>
            <div>
              <h3 class="headings">End to End Testing</h3>
                    <p class="paras">There is nothing like setting up full end to end testing for your app. With cutting edge tools like Cypress.io, Nightwatch, puppeteer we have got you covered.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/5 (6).svg" alt="">
         </div>
         <div>
           <h3 class="headings">Docker</h3>
                 <p class="paras">Its always best to containerize all your apps, to ensure smooth dependency management and service installation across machines.Docker is the industry standard to containerize your apps and our default tool to work with for all apps.</p>
         </div>
       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/6 (6).svg" alt="">
           </div>
           <div>
             <h3 class="headings">Environments and Release Mgmt</h3>
                   <p class="paras">We setting multiple environments like dev, staging, prod depending on your requirements and the level of testing you need. Release management is very critical to ensure smooth deployments for your customers and minimal downtime.</p>
           </div>
         </div>
       </div>
     </div>
    </div>
   </div>
  <div class="seventh_section">
   <div>
     <p class="para2">FROM OUR BLOGS</p>
   </div>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Back-End &amp; Database  Cloud Infra and Dev Ops</span>
       <p  class="blog">Amazon EC2 Node JS API Code Snippets</p>
       <p class="paras1">In this blog post, will see few examples of using NodeJS EC2 API.Today we will learn how we can deploy a Node.js</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Cloud Infra and Dev Ops </span>
       <p class="blog">Serverless with AWS API Gateway using</p>
       <p class="paras1">Today we will learn how we can deploy a Node.js application to AWS Lambda with the help of Serverless Framework. We will combine AWS …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Cloud Infra and Dev Ops  EC2 </span>
         <p class="blog">Amazon EC2 Instances</p>
         <p class="paras1">An EC2 instance is a virtual server in Amazon’s Elastic Compute Cloud (EC2) for running applications on the Amazon Web Services (AWS) …</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div><br>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Back-End &amp; Database  Cloud Infra and Dev Ops</span>
       <p  class="blog">Amazon EC2 Node JS API Code Snippets</p>
       <p class="paras1">In this blog post, will see few examples of using NodeJS EC2 API.</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Cloud Infra and Dev Ops  EC2 </span>
       <p class="blog">Amazon EC2 Instances</p>
       <p class="paras1">An EC2 instance is a virtual server in Amazon’s Elastic Compute Cloud (EC2) for running</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Back-End &amp; Database  Cloud Infra and Dev Ops </span>
         <p  class="blog">Amazon EC2 Node JS API Code Snippets</p>
         <p class="paras1">In this blog post, will see few examples of using NodeJS EC2 API  on the Amazon Web Services (AWS) ….</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div>
 </div>
 <div class="eight_section">
   <div class="subeight">
   <div class="subeight2">
     <div>
       <p class="paras3">Please, provide us with as much detailed information as possible</p><br>
       <form class="form_set">
         <input type="text" class="form-control wid" placeholder="Your name"><br>
         <input type="text" class="form-control wid"  placeholder="Contact number"><br>
         <input type="text" class="form-control wid" placeholder="Email Address">
       </form>
     </div>
     <div>
       <form class="form_set2">
         <textarea class="textar" name="message" id="" cols="10" rows="6" placeholder="Message" class="form-control wid"></textarea>
       </form>
     </div>
     <div class="form_btn"><button class="btn btn-outline-primary btn3">Submit</button></div>

   </div>
   </div>
   <div>
    <div class="let">
     <p class="TECHNOLOGIES" style="color: #817fea;">THINK WE’D BE A MATCH?</p>
     <h3 class="TechStack" style="color: #817fea; font-weight: bold;">LET’S CONNECT</h3>
     <span class="email">Email</span>
     <p class="paras2">contact@excellencetechnologies.in</p>
     <span class="email">Address</span>
     <p class="paras2">C86 B,Sector 8,Noida (Uttar Pradesh)</p>
     <span class="email">Phone</span>
     <p class="paras2">+91 01204278603</p>
     <span class="email">Skype</span>
     <p class="paras2">sales@excellencetechnologies</p>
    </div>
   </div>
 </div>
 <div class="foo1">
   <div class="nineth_section">
     <div class="nineth_subsection">
       <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
       <div class="footericon">
         <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
       </div><br>
       <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
         All Rights Reserved</span></div>
     </div>
     <div class="hire1">
       <div><p class="footerhed">HIRE US</p></div>
       <div>
         <ul>
           <li><a class="nav-link" routerLink="/Home">Hire ReactJS Development Company</a></li>
           <li><a class="nav-link" routerLink="/about">Hire VueJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/services">Hire Angular Development Company</a></li>
           <li><a class="nav-link" routerLink="/career">Hire Typescript Development Company</a></li>
           <li><a class="nav-link" routerLink="/portfolio">Hire Materialui Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Bootstrap Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Javascript Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Fullstack Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire NextJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Redux Development Company</a></li>

         </ul>
       </div>
     </div>
     <div  class="hire1">
       <div><span class="footerhed">SERVICES</span></div><br>
         <div>
           <ul>
             <li><a class="nav-link" routerLink="/services">Web Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/mobileapplication">Mobile Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
             <li><a class="nav-link" routerLink="/services/backend-api-database">Backend and Database</a></li>
             <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
           </ul>
         </div>
     </div>
     <div>
       <div  class="hire1"><span class="footerhed">SOLUTIONS</span></div><br>
       <!-- <div class="fotertec"> -->
         <div>
           <ul>
             <li><a class="nav-link" href="">PWA App Development</a></li>
             <li><a class="nav-link" href="">Responsive Web App Development</a></li>
             <li><a class="nav-link" href="">SSR Web App Development</a></li>
             <li><a class="nav-link" href="">Dashboard Development</a></li>
             <li><a class="nav-link" href="">SAAS Webapp Development</a></li>
             <li><a class="nav-link" href="">Custom CRM & ERP Solutions</a></li>
           </ul>
         </div>
       <!-- </div> -->
     </div>
   </div>
 </div>
 </div>

