<div class="blog">
  <div class="header">
    <div>
      <img class="logo" src="../../../assets/images/logo-normal.svg" alt="">
    </div>
    <div>
      <h1 style="color: green;">Blog</h1>
    </div>
    <div>
      <button class="btn btn-outline-primary">Hire Us</button>
    </div>
  </div>
  <div class="main">
    <div class="secondpara">
      <div class="Flutter">
        <span class="para2">Flutter</span>
        <p  class="midpara">What to choose for your next app? Flutter vs. React Native</p>
        <span class="paras1">By <span class="name">ANIMESH PANDEY</span> Thu, Jul 23, 2020</span>
        <p class="paras1">Want to create an app in a quick time with reduced cost and cross platform developments. But confused in the selection of the technology? Below we will discuss the leading players in the field according to the perspective of owners and developers. This article will certainly help you in deciding which frameworks suit your app requirement. React Native and Flutter are the two leading players when it comes to cross platform solutions.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
      <div class="Flutter">
        <span class="para2">Uncategorized</span>
        <p  class="midpara">Firebase for building a Web App: A worthy platform</p>
        <span class="paras1">By <span class="name">ANIMESH PANDEY</span> Fri, Jul 3, 2020</span>
        <p class="paras1">It’s always a big question for developers that what will be the best and the most convenient platform to work upon. Let’s start with the introduction, Firebase is a web application and mobile development platform initially developed by Firebase Inc. in the year 2011. Later it was acquired by the internet giant Google Inc. in the year 2014. A wide range of products (more than 19) is used by millions of developers and people across the world.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
      <div class="Flutter">
        <span class="para2">VueJS Web Application</span>
        <p  class="midpara">Create Web Components using Vue Js</p>
        <span class="paras1">By <span class="name">DEVKANT</span> Fri, Jul 3, 2020</span>
        <img class="VueJSimg" src="../../../assets/images/3366891.jpg" alt="">
        <p class="paras1">What are Web Components? Just like HTML elements like divs, spans, tables etc. Web components are custom HTML elements that can be used and reused in web apps and web pages. Component-based architecture is the main architecture for front end development today. Developers can build custom elements that can be embedded into web pages. The elements can be reused and nested anywhere, allowing for code reuse in any pages or apps.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
    </div>
    <div class="secondpara">
      <div class="Flutter">
        <span class="para2">VueJS Web Application</span>
        <p  class="midpara">How to setup Vuex in Vuejs</p>
        <span class="paras1">By <span class="name">DEVKANT</span> Tue, Jul 14, 2020</span><br>
        <img class="VueJSimg" src="../../../assets/images/104_.jpg" alt="">
        <p class="paras1">What is Vuex? Managing state in an application full of components can be difficult. Facebook discovered this the hard way and created the Flux pattern, which is what Vuex is based upon. Vuex is an official plugin for Vue.js which offers a centralized data store for use within your application. Vuex features a unidirectional data flow leading to simpler application design and reasoning. Within a Vuex application, the datastore holds all shared application state.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
      <div class="Flutter">
        <span class="para2">VueJS Web Application</span>
        <p  class="midpara">Vue Js Instant Prototyping | Test your Vue components in no time</p>
        <span class="paras1">By <span class="name">DEVKANT</span> Fri, Jul 3, 2020</span><br>
        <img class="VueJSimg" src="../../../assets/images/3675635.jpg" alt="">
        <p class="paras1">What is Prototyping? A prototype is an example that serves as a basis for future product like an application etc. Prototyping gives developers an opportunity to research new alternatives and test the existing design / functionality to confirm a product’s all over functionality prior to production. A prototype has many benefits, such as the developer and the implementer getting valuable feedback from the user even before the actual project is started.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
      <div class="Flutter">
        <span class="para2">Back-End &amp; Database NodeJS</span>
        <p  class="midpara">Receive Mail From Email Server Using Node Js</p>
        <span class="paras1">By <span class="name">SAURABH KUMAR </span>Fri, Jul 3, 2020</span><br>
        <img class="VueJSimg" src="../../../assets/images/55.png" alt="">
        <p class="paras1">Introduction: This topic is related to how we can fetch/send emails from an email server (gmail, yahoo, outlook, etc) with NodeJs. IMAP (Internet message access protocol): Introduction: IMAP (Internet Message Access Protocol) is a standard email protocol that stores email messages on a mail server, but allows the end user to view and manipulate the messages as though they were stored locally on the end user's computing device(s). This allows users to organize messages into folders, have multiple client applications know which messages have been read, flag messages for urgency or follow-up and save draft messages on the server.</p>
        <p class="btnmain">CONTINUE READING</p>
      </div>
      <div class="btn1"><button class="btn btn-outline-primary btn2">Next</button></div>
    </div>
    <div>
      <div class="Flutter">
        <span class="para3">CATEGORIES</span>
        <p  class="angular">Advanced</p>
        <p  class="angular">Angular</p>
        <p  class="angular">Angularjs</p>
        <p  class="angular">Back-End-Amp-Database</p>
        <p  class="angular">Beginner</p>
        <p  class="angular">Blockchain</p>
        <p  class="angular">Cloud-Infra-And-Dev-Ops</p>
        <p  class="angular">Deep-Learning</p>
        <p  class="angular">Devops</p>
        <p  class="angular">Directives</p>
        <p  class="angular">Django</p>
        <p  class="angular">Ec2</p>
        <p  class="angular">Ecommerce</p>
        <p  class="angular">Express</p>
        <p  class="angular">Flutter</p>
        <p  class="angular">General</p>
        <p  class="angular">Graphql</p>
        <p  class="angular">Ionic-Framework</p>
        <p  class="angular">Machine-Learning</p>
        <p  class="angular">Magento</p>
        <p  class="angular">Mean-Stack</p>
        <p  class="angular">Mobile-Apps</p>
        <p  class="angular">Mongodb</p>
        <p  class="angular">Mongoose</p>
        <p  class="angular">Nlp</p>
        <p  class="angular">Nodejs</p>
        <p  class="angular">Phonegap</p>
        <p  class="angular">Python</p>
        <p  class="angular">React</p>
        <p  class="angular">React-Native</p>
        <p  class="angular">Responsive</p>
        <p  class="angular">Responsive-Design</p>
        <p  class="angular">Socket.Io</p>
        <p  class="angular">Uncategorized</p>
        <p  class="angular">Vuejs</p>
        <p  class="angular">Web-Application</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer1">
  <div class="firstfooter">
    <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
    <div class="footericon">
      <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
    </div><br>
    <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
      All Rights Reserved</span></div>
  </div>
  <div class="secondfooter">
    <div class="j1">
      <div><p class="footerhed">QUICK LINKS</p></div>
      <div>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/career">Career</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="j2">
      <div><span class="footerhed">SERVICES</span></div><br>
      <div>
        <ul>
          <li><a routerLink="/services">Web Application Development</a></li>
          <li><a routerLink="/services/mobileapplication">Mobile Application Development</a></li>
          <li><a routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
          <li><a routerLink="/services/backend-api-database">Backend and Database</a></li>
          <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
        </ul>
      </div>
    </div>
    <div class="j3">
      <div><span class="footerhed">TECHNOLOGIES</span></div><br>
      <div class="fotertec">
        <div>
          <ul>
            <li><a href="">Magento</a></li>
            <li><a href="">React JS</a></li>
            <li><a href="">React native</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Angular JS</a></li>
            <li><a href="">Android App</a></li>
            <li><a href="">MongoDB</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li><a href="">Express</a></li>
            <li><a href="">API Development</a></li>
            <li><a href="">Shopify</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Laravel</a></li>
            <li><a href="">Flask</a></li>
            <li><a href="">Django</a></li>
            <li><a href="">NodeJS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
