<div class="home">
  <div class="first_section">
  <video autoplay muted loop class="video-container">
    <source
      src="https://storage.googleapis.com/excellencewebsitelive/Excellencelanding2.mp4"
      type="video/mp4"/>
  </video>
   <img class="logo" src="	https://excellencetechnologies.in/assets/svg/excellence-logo-white.svg" alt="">
        <p class="software">PROVIDING MODERNISTIC</p>
        <p class="software">SOFTWARE SOLUTIONS FOR YOUR</p>
        <p class="software">BUSINESS NEEDS</p>
        <button class="btn1"> Work With US
        </button>
  </div>
  <div class="second_section">
    <p class="main_heading">WE'VE WORKED WITH</p>
  <div>
    <div  class="animated-element" appScrollTrigger>
      <h3 class="company">As an interdisciplinary company, we’ve worked with:</h3>
    </div>
    <div  class="animated-element" appScrollTrigger>
      <h3 class="corporate">BIG CORPORATE ENTERPRICES</h3>
    </div>
    <div class="animated-element" appScrollTrigger>
      <p class="business_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, excepturi. Modi rerum facilis consectetur nulla doloribus officia nostrum. Dolore, unde. Voluptatibus, cum iusto magnam adipisci quibusdam facilis ullam qui aut nihil hic iure expedita, quasi odit quos repudiandae fugit sint mollitia, sequi fuga dignissimos explicabo eligendi quaerat. Sit, labore quidem?</p>
    </div>
  </div>
  </div>
  <div class="third_section">
    <div>
      <h1 class="our_Services">Our Core Services</h1>
    </div>
    <div>
      <p class="service_para">We’ve developed skills and know-how in different fields of expertise. Our team of trained professional
        developers and technologists work towards creating customized solutions
        as per your business needs.</p>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <div class="image_logo"><img  src="./../../../assets/images/web.svg" class="" alt="..." width="45%"></div>
        <div class="card-body">
          <h5 class="card-title">Web Application</h5>
          <p class="card-text">We develop modern web apps using the latest technologies like react.js, vue.js, angular and other solutions to provide blazing fast and a modern experience. Whether you are looking for PWA, SPA, or SSR apps we have done it all.</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
         <div class="image_logo">
        <img src="./../../../assets/images/mobile.svg" class="" alt="..."  width="37%s">
         </div>
      <div class="card-body">
          <h5 class="card-title">Mobile Apps</h5>
          <p class="card-text">We deliver modern app using cutting edge technologies like react native, expo, ionic, flutter.We strongly believe in the importance of delivering multi-platform mobile app solutions for android/ios/windows and still able to provide quick turn around and retain native app experience.</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="image_logo">
        <img  src="./../../../assets/images/ecommerce.svg" class="" alt="..."  width="45%">
        </div>
        <div class="card-body">
          <h5 class="card-title">eCommerce</h5>
          <p class="card-text">Looking to quickly run your business online on a budget or to set up a full-service eCommerce store for your customers. We work with industry-leading solutions like Magento, Shopify, WooCommerce to get your store up and running.</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="image_logo">
        <img  src="./../../../assets/images/backend.svg" class="" alt="..."  width="45%">
        </div>
        <div class="card-body">
          <h5 class="card-title">Back-End & Database</h5>
          <p class="card-text">We work on backend technologies like node.js, python, PHP to serve backend services for your web/mobile apps.We set up security, scalable database services using MongoDB, MySQL, PostgreSQL and many other DB solutions</p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="image_logo">
        <img  src="./../../../assets/images/cloud.svg" class="" alt="..."  width="45%">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cloud Infra and Dev Ops</h5>
          <p class="card-text">We deploy your apps on cloud infrastructure like AWS, GCP, Azure and work with scalable services like firebase, lambda, microservices and many other cloud services to provide a highly scalable, secure and future proof deployment for your apps</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth_section">
    <div class="fourth_subsection1">
    <div class="fourth_sub1">
      <div class="image_fourthsub">
        <img class="image_section"  src="../../../assets/images/react.svg" alt="">
        <p class="icon_name">REACT NATIVE</p>
      </div>
      <div class="image_fourthsub">
        <img  class="image_section"src="../../../assets/images/ionic.svg" alt="">
        <p  class="icon_name">IONIC</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/flutter.svg" alt="">
        <p  class="icon_name">FLUTTER</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/expo.svg" alt="">
        <p  class="icon_name">EXPO</p>
      </div>
    </div>
    <div class="fourth_sub1">
      <div class="image_fourthsub">
        <img class="image_section"  src="../../../assets/images/react (1).svg" alt="">
        <p  class="icon_name">REACT JS</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/angular.svg" alt=""><br>
        <p  class="icon_name">ANGULAR</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/vue.svg" alt="">
        <p  class="icon_name">VUE JS</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/node.svg" alt="">
        <p  class="icon_name">NODE JS</p>
      </div>
    </div>
    <div class="fourth_sub1">
      <div class="image_fourthsub">
        <img class="image_section"  src="../../../assets/images/woocommerce.svg" alt=""><br>
        <p  class="icon_name">WOOCOMMERCE</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/shopify.svg" alt="">
        <p  class="icon_name">SHOPIFY</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/magento.svg" alt="">
        <p  class="icon_name">MAGENTO</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/python.svg" alt="">
        <p class="icon_name">PYTHON</p>
      </div>
    </div>
    <div class="fourth_sub1">
      <div class="image_fourthsub">
        <img class="image_section"  src="../../../assets/images/amazon.svg" alt="">
        <p class="icon_name">AWS</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/google-cloud.svg" alt="">
        <p class="icon_name">GCP</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/azure.svg" alt="">
        <p class="icon_name">AZURE</p>
      </div>
      <div class="image_fourthsub">
        <img class="image_section" src="../../../assets/images/docker.svg" alt="">
        <p class="icon_name">DOCKER</p>
      </div>
    </div>
    </div>
    <div class="fourth_subsection2">
      <p class="fourth_para1">OUR SERVICES ARE DRIVEN BY AMAZING TECHNOLOGIES</p>
      <h2 class="fourth_heading">Technologies we work <br>on regular basis</h2>
      <p class="fourth_para2">We are not fanatical about a single solution. We pride ourselves on finding the best fit for our client’s needs.</p>
      <p class="fourth_para2">As tech world is changing very fast, we keep adding the latest tech to our stack</p>
      <p class="fourth_para2">Among the tools at our disposal are technologies such as React.JS, Vue.JS, Angular, React Native. Expo, Ionic, Flutter, Nodejs, MongoDB, Firebase</p>
      <p class="fourth_para2">We also work with CMS solutions like Magento, Shopify, WooCommerce, Wordpress, Strap.io, KeyStone.JS to provide readymade solutions</p>
      <p class="fourth_para2">While adapting new tech stack, we also retain the stable platforms like PHP, Python and work on frameworks like Django, Laravel to maintain/upgrade systems</p>
    </div>
  </div>
  <div class="fifth_section">
    <div class="fifth_subsection">
      <div class="fifth_subection2">
        <div>
          <p class="form_paras">Please, provide us with as much detailed information as possible</p>
        </div>
        <div class="form_section">
          <div class="form_subsection">
            <form class="form_set">
              <input type="text" class="form-control wid" placeholder="Your name"><br>
              <input type="text" class="form-control wid"  placeholder="Contact number"><br>
              <input type="text" class="form-control wid" placeholder="Email Address">
            </form>
          </div>
          <div class="form_subsection1">
            <form class="form_set2">
              <textarea class="textar" name="message" id="" cols="20" rows="6" placeholder="Message" class="form-control wid"></textarea>
            </form>
          </div>
        </div>
        <div class="form_btn"><button class="btn btn-outline-primary btn3">Submit</button></div>
      </div>
      <div>
        <div class="let">
         <p class="TECHNOLOGIES" style="color: #817fea;">THINK WE’D BE A MATCH?</p>
         <h3 class="TechStack" style="color: #817fea; font-weight: bold;">LET’S CONNECT</h3>
         <span class="email">Email</span>
         <p class="paras2">contact@excellencetechnologies.in</p>
         <span class="email">Address</span>
         <p class="paras2">C86 B,Sector 8,Noida (Uttar Pradesh)</p>
         <span class="email">Phone</span>
         <p class="paras2">+91 01204278603</p>
         <span class="email">Skype</span>
         <p class="paras2">sales@excellencetechnologies</p>
        </div>
       </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer1">
  <div class="firstfooter">
    <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
    <div class="footericon">
      <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
      <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
    </div><br>
    <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
      All Rights Reserved</span></div>
  </div>
  <div class="secondfooter">
    <div class="j1">
      <div><p class="footerhed">QUICK LINKS</p></div>
      <div>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/career">Career</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="j2">
      <div><span class="footerhed">SERVICES</span></div><br>
      <div>
        <ul>
          <li><a routerLink="/services">Web Application Development</a></li>
          <li><a routerLink="/services/mobileapplication">Mobile Application Development</a></li>
          <li><a routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
          <li><a routerLink="/services/backend-api-database">Backend and Database</a></li>
          <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
        </ul>
      </div>
    </div>
    <div class="j3">
      <div><span class="footerhed">TECHNOLOGIES</span></div><br>
      <div class="fotertec">
        <div>
          <ul>
            <li><a href="">Magento</a></li>
            <li><a href="">React JS</a></li>
            <li><a href="">React native</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Angular JS</a></li>
            <li><a href="">Android App</a></li>
            <li><a href="">MongoDB</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li><a href="">Express</a></li>
            <li><a href="">API Development</a></li>
            <li><a href="">Shopify</a></li>
            <li><a href="">VueJS</a></li>
            <li><a href="">Laravel</a></li>
            <li><a href="">Flask</a></li>
            <li><a href="">Django</a></li>
            <li><a href="">NodeJS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>


