
<div class="services">
  <div class="first_section">
   <div class="first_para">
     <p>Our Core Service is all about TECH,</p>
     <p>we are passionate about latest technologies and</p>
     <p>very early to adopt them into our stack</p>
   </div>
   <div class="">
     <h1 class="web_heading">WEB APPLICATION DEVELOPMENT</h1>
   </div>
  </div>
  <div class="second_section">
   <div>
     <h6 class="core"></h6>
   </div>
   <div class="cards">
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/web.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">01.</p></div>
       <h4 class="cardhed">Web Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/mobile.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">02.</p></div>
       <h4 class="cardhed">Mobile Application</h4>
       <h4 class="cardhed">Development</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/ecommerce.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">03.</p></div>
       <h4 class="cardhed">eCommerce Store</h4>
       <h4 class="cardhed">Setup</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img
           src="./../../../assets/images/backend.svg"
           alt="..."
           width="79%"
         />
       </div>
       <div><p style="text-align: center">04.</p></div>
       <h4 class="cardhed">Backend and</h4>
       <h4 class="cardhed">Database</h4>
     </div>
     <div class="card card1" style="width: 17rem">
       <div class="imglogo">
         <img src="./../../../assets/images/cloud.svg" alt="..." width="79%" />
       </div>
       <div><p style="text-align: center">05.</p></div>
       <h4 class="cardhed">Cloud Deployments</h4>
       <h4 class="cardhed">& Devops</h4>
     </div>
   </div>
  </div>
  <div class="third_section animated-element"  appScrollTrigger>
   <div class="third_subsection1">
    <p class="web1"></p>
    <h1 class="heading2">Thinking of having a blazing fast, responsive, modern web app?</h1>
   </div>
   <div class="third_subsection2">
     <div>
       <p class="para3">A mobile app has almost become a necessity for most businesses to keep your customers engaged and staying ahead of the competition.</p><br>
       <p class="para3">A blazing fast, responsive website is essential to keep your visitors engaged. As the entire web app ecosystem is moving towards javascript we have updated our entire tech stack with the best javascript frameworks.</p><br>
       <p class="para3">We develop modern single page websites with server-side rendering to provide you with the best possible customer experience.</p><br>
       <p class="para3">We always stick to best industry practices like flux for state management, rest APIs for our apps and source code management using git.</p>
     </div>
     <div class="third_subsection3">
       <ul class="main_header">
         <span class="main_heading">TECH STACK</span>
         <li class="para4">-ReactJS</li>
         <li class="para4">-VueJS</li>
         <li class="para4">-Angular</li>
         <li class="para4">-jQuery</li>
         <li class="para4">-Bootstrap</li>
         <li class="para4">-MaterialUI</li>
         <li class="para4">-Redux</li>
         <li class="para4">-Vuex</li>
       </ul>
       <div>
         <span class="main_heading">DEPLOYMENT</span>
         <li class="para4">-PWA</li>
         <li class="para4">-SPA</li>
         <li class="para4">-SSR</li>
         <li class="para4">-RESPONSIVE</li>
       </div>
     </div>
   </div>
  </div>
  <div class="fourth_section">
    <div class="fourth_subsection">
      <div class="main_content">
      <div class="main_content1">
        <div>
          <img class="React" src="../../../assets/images/react (1).svg" alt="">
          <p class="shopify">React Native</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/angular.svg" alt="">
          <p class="shopify">Angular</p>
        </div>
        <div>
          <img class="expo" src="../../../assets/images/vue.svg" alt="">
          <p class="shopify">VueJS</p>
        </div>
        <div>
         <img class="expo1" src="../../../assets/images/typescript.svg" alt="">
         <p class="shopify">Type script</p>
        </div>
      </div>
      <div class="main_content1">
        <div>
          <img class="expo" src="../../../assets/images/material-ui.svg" alt="">
          <p class="shopify">Materialui</p>
        </div>
        <div>
          <img class="React" src="../../../assets/images/ant-design.svg" alt="">
          <p class="shopify">Ant.Design</p>
        </div>
        <div>
          <img class="expo1"  src="../../../assets/images/bootstrap.svg" alt="">
          <p class="shopify">Bootstrap</p>
        </div>
        <div>
         <img class="expo"  src="../../../assets/images/saas.svg" alt="">
         <p class="shopify">Saas</p>
        </div>
      </div>

      </div>

      <div class="client_para1">
       <p class="TECHNOLOGIES">OUR SERVICES ARE DRIVEN BY CUTTING EDGE TECHNOLOGIES</p>
       <h4 class="TechStack">TechStack we prefer</h4>
       <p class="TECHNOLOGIES">We are not fanatical about a single solution. We pride ourselves on finding the best fit for our client’s needs.</p>
       <p class="TECHNOLOGIES">As tech world is changing very fast, we keep adding latest tech to our stack.</p>
       <span class="TECHNOLOGIES">..................</span>
      </div>
    </div>
    <div><h3 id="hire">HIRE US?</h3></div>
   </div>
  <div class="fourth">
   <div class="fourthsection">
     <div class="cards">
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/planning.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">01</p></div>
         <h4 class="cardhed">Planning & Strategy</h4>
         <div class="card-body">
           <p class="card-text">
             We plan projects to include milestones, scope of work and
             timelines to stay on budget and deliver a solution as per your
             expectations. Our strategies to always to keep up with the latest
             tech stack but still .
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img src="./../../../assets/images/ux.svg" alt="..." width="79%" />
         </div>
         <div class="cardhed"><p class="cardhed1">02</p></div>
         <h4 class="cardhed">UX Concept & Design</h4>
         <div class="card-body">
           <p class="card-text">
             Send your specification and we’ll send back wireframes, guidelines
             which embraces your vision. We work with the latest design tools
             like Figma, Adobe XD to easily collaborate and developer quality
             UI/UX for your web apps.
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/development.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">03</p></div>
         <h4 class="cardhed">Frontend Development</h4>
         <div class="card-body">
           <p class="card-text">
             We write well structured, quality code following industry best
             practices.All our code is always commented and also using version
             control and PR verified. We always stick to best practices and
             provide maintenance code.
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/testing.svg"
             alt="..."
             width="79%"
           />
         </div>
         <div class="cardhed"><p class="cardhed1">04</p></div>
         <h4 class="cardhed">Testing and quality assurance</h4>
         <div class="card-body">
           <p class="card-text">
             We understand the importance of testing and delivery of a project.
             We follow rigorous testing processes with inhouse testing team and
             also set up automated End to End/ Unit tests.
           </p>
         </div>
       </div>
       <div class="card card1" style="width: 17rem">
         <div class="imglogo">
           <img
             src="./../../../assets/images/maintenance.svg"
             alt="..."/>
         </div>
         <div class="cardhed"><p class="cardhed1">05</p></div>
         <h4 class="cardhed">Maintenance</h4>
         <div class="card-body">
           <p class="card-text">
             We believe in maintaining relationships with our customers rather
             than providing them with a one-time solution. In this
             fast-changing tech landscape, we keep advising and supporting our
             customers with the best .
           </p>
         </div>
       </div>
     </div>
   </div>
  </div>
  <div class="fifth_section">
   <div class="">
     <p class="develop"></p>
     <h1 class="heading2">What Web App Development means to us at Excellence Technologies</h1>
   </div>
   <div class="">
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/1.svg" alt="">
         </div>
         <div>
           <h3 class="headings">Web Apps</h3>
                 <p class="paras">We develop custom web apps tailormade to your specifications. From finance, banking, travel to complex ERP, CRM systems we have done it all. We provide you with blazing fast, fully responsive websites.We use latest tech stack like React.js, Vue.js, Angular to developer yours website depending on your specific use case.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/2.svg" alt="">
           </div>
           <div>
             <h3 class="headings">Dashboard Development</h3>
                   <p class="paras">Providing your users with highly interactive dashboards is very critical for growing businesses these days.We developer modern and engaging dashboard systems to provide your customers with accurate and easy to access information.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="sixth_section">
       <div class="sixth_subsection">
         <div>
           <img class="imgback" src="../../../assets/images/3.svg" alt="">
         </div>
         <div>
           <h3 class="headings">eCommerce Store</h3>
                 <p class="paras">We offer end-to-end eCommerce solutions with payment gateway integration and 3rd party modules.We can get you up and running from scratch to have a fully running eCommerce store and selling to your customers.</p>
         </div>

       </div>
       <div>
         <div class="sixth_subsection">
           <div>
             <img class="imgback" src="../../../assets/images/4.svg" alt="">
           </div>
           <div>
             <h3 class="headings">SaaS Web Apps</h3>
                   <p class="paras">If you're looking for custom saas solutions for your startup, we provide tailormade solutions with payment gateways integrations and customer management.We can develop your entire product using the latest tech stack and give your startup the cutting edge advantage.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="sixth_section">
      <div class="sixth_subsection">
        <div>
          <img class="imgback" src="../../../assets/images/5 (3).svg" alt="">
        </div>
        <div>
          <h3 class="headings">Legacy Websites</h3>
                <p class="paras">We work with PHP frameworks and also technologies like jQuery, Bootstrap, HTML5, CSS3 to maintain and upgrade your existing websites.Whether you are looking to upgrade your existing website or still add features to it we can help you with the same.</p>
        </div>
      </div>
      <div>
        <div class="sixth_subsection">
          <div>
            <img class="imgback" src="../../../assets/images/6 (4).svg" alt="">
          </div>
          <div>
            <h3 class="headings">Custom CRM ERP Solutions</h3>
                  <p class="paras">Looking for custom EPR/CRM solutions for your organization?We provide both readymade and tailormade Whitelabel solutions. We build on top of populator open source stacks or can develop systems from scratch based on your requirements.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixth_section">
      <div class="sixth_subsection">
        <div>
          <img class="imgback" src="../../../assets/images/5 (3).svg" alt="">
        </div>
        <div>
          <h3 class="headings">Startups</h3>
                <p class="paras">We work with many startups and to help them realize their vision.We are able to work on a budget and provide with a fast turn around.We can help you market your vision using the latest tech stack and help you stay ahead of the curve.</p>
        </div>
      </div>
      <div>
        <div class="sixth_subsection">
          <div>
            <img class="imgback" src="../../../assets/images/6 (4).svg" alt="">
          </div>
          <div>
            <h3 class="headings">Responsive Landing Pages</h3>
                  <p class="paras">Have predesigned simple landing pages? We can develop them to a website quickly and provide you with full responsive, pixel perfect designs.</p>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="owl-carousel">
    <div class="item">
      <div class="crousel">
        <div class="crousel_subsection">
         <div class="crousel_items">
           <p class="crousel_heading">OUR FETURED PROJECTS</p>
         <h3 class="safe">Betica</h3>
         <p class="crousel_para">Its a startup concept to assign a single"Safename"to multiple blockchain wallets of a user</p>
         <p class="language">-ReactJS</p>
         <p class="language">-Redux/Sagas</p>
         <p class="language">-NodeJS</p>
         <p class="language">-Vuejs</p>
         </div>
         <div style="margin: auto;">
           <img class="crousel_icon" src="../../../assets/images/arrow icon.png" alt="">
         </div>
        </div>
         <div>
           <img class="crousel_image" src="../../../assets/images/quick (2).webp" alt="">
         </div>
      </div>
    </div>
    <div class="item">
      <div class="crousel">
        <div class="crousel_subsection">
         <div class="crousel_items">
           <p class="crousel_heading">OUR FETURED PROJECTS</p>
         <h3 class="safe">Safename</h3>
         <p class="crousel_para">Its a startup concept to assign a single"Safename"to multiple blockchain wallets of a user</p>
         <p class="language">-python</p>
         <p class="language">-flask</p>
         </div>
         <div style="margin: auto;">
           <img src="../../../assets/images/arrow icon.png" alt="">
         </div>
        </div>
         <div>
           <img class="crousel_image" src="../../../assets/images/quick (1).webp" alt="">
         </div>
      </div>
    </div>
  </div>
  <div class="seventh_section">
   <div>
     <p class="our_blogs"></p>
   </div>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Advanced  AngularJS  Web Application</span>
       <p  class="blog">AngularJS UI Routing</p>
       <p class="paras1">In this blog post we look at how to use the angularjs ui router library. This is not the $routeProvider service which comes with angularjs but …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Advanced  AngularJS  Web Application </span>
       <p class="blog">FAngularJS – ngRepeat Performance Watchers</p>
       <p class="paras1">AngularJS has a directive “ng-repeat” which is very widely used. ng-repeat is used in almost every application but if …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Advanced  AngularJS  Directives  Web Application </span>
         <p class="blog">AngularJS – Directive compile, pre-link, post-link</p>
         <p class="paras1">In this post we will look into the compile and link functions of angular directives. Angular directives are very powerful if used properly. …</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div><br>
   <div class="seventh_subsection">
     <div>
       <span class="para2">Advanced  AngularJS  Web Application </span>
       <p  class="blog">AngularJS – $compile $parse $interpolate</p>
       <p class="paras1">AngularJS provide three useful services which it uses internally., $compile, $parse, $interpolate. These service are mainly used to evaluate …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <span class="para2">Angular  Web Application </span>
       <p class="blog">Angular CLI 7.1.2 – Whats New and Project</p>
       <p class="paras1">Angular CLI Angular CLI is a command line tool that you use to initialize, develop, scaffold, and maintain Angular applications. What’s New …</p>
       <p class="blog1">CONTINUE READING</p>
     </div>
     <div>
       <div>
         <span class="para2">Angular  Web Application </span>
         <p  class="blog">Getting Started with Angular – Service</p>
         <p class="paras1">In this blog post we will see some of the important built in services of angular and how to create custom services are mainly used to evaluate …</p>
         <p class="blog1">CONTINUE READING</p>
       </div>
     </div>
   </div>
 </div>
 <div class="clients">
  <div>
    <h1 class="clients_heading">WHAT ARE THEY SAYING</h1>
  </div>
  <div class="client_1">
    <p class="client_para">Making our client’s happiness isn’t just about building beautiful websites. It’s about building a relationship,</p>
    <p class="client_para">earning trust and growing together</p>
  </div>
  <div class="cliens_img ">
    <div class="client_details">
      <div class="item" [class.active]="activeIndex === 0" (click)="selectImage(0)"><img class="cli_imag" src="../../../assets/images/client1.png" alt=""></div>
      <div class="client_details2">
        <h2 class="name">Alexis Manach</h2>
        <span id="link">https://www.zarpo.com.br</span>
        <p class="client_desc">The application built by Excellence Technologies has expanded the user base to 5 million and successfully provides all desired features. The team is knowledgable and make themselves available around the clock to solve issues as they arise so that development can continue.</p>
      </div>
    </div>
    <div class="client_details ">
      <div class="item" [class.active]="activeIndex === 1" (click)="selectImage(1)"><img class="cli_imag" src="../../../assets/images/client2 (1).png" alt=""></div>
      <div class="client_details2">
        <h2 class="name">Martin Romanuk</h2>
        <span id="link">https://nubity.com</span>
        <p class="client_desc">https://nubity.com
          Great React developers, they helped us to go forward with all of our requirements. Highly recommendable.</p>
      </div>
    </div>
    <div class="client_details">
      <div class="item" [class.active]="activeIndex === 2" (click)="selectImage(2)"><img class="cli_imag" src="../../../assets/images/client3.png" alt=""></div>
      <div class="client_details2">
        <h2 class="name">Kristian Poulstrup</h2>
        <span id="link">https://billetto.com</span>
        <p class="client_desc">Excellence did an excellent job on my project. The tasks were completed on time and to specification. Communication was good and the developers were always positive. 10/10 would recommend it.</p>
      </div>
    </div>

  </div>
  <div></div>

</div>
 <div class="eight_section">
   <div class="subeight">
   <div class="subeight2">
     <div>
       <p class="paras3">Please, provide us with as much detailed information as possible</p><br>
       <form class="form_set">
         <input type="text" class="form-control wid" placeholder="Your name"><br>
         <input type="text" class="form-control wid"  placeholder="Contact number"><br>
         <input type="text" class="form-control wid" placeholder="Email Address">
       </form>
     </div>
     <div>
       <form class="form_set2">
         <textarea class="textar" name="message" id="" cols="10" rows="6" placeholder="Message" class="form-control wid"></textarea>
       </form>
     </div>
     <div class="form_btn"><button class="btn btn-outline-primary btn3">Submit</button></div>

   </div>
   </div>
   <div>
    <div class="let">
     <p class="TECHNOLOGIES" style="color: #817fea;">THINK WE’D BE A MATCH?</p>
     <h3 class="TechStack" style="color: #817fea; font-weight: bold;">LET’S CONNECT</h3>
     <span class="email">Email</span>
     <p class="paras2">contact@excellencetechnologies.in</p>
     <span class="email">Address</span>
     <p class="paras2">C86 B,Sector 8,Noida (Uttar Pradesh)</p>
     <span class="email">Phone</span>
     <p class="paras2">+91 01204278603</p>
     <span class="email">Skype</span>
     <p class="paras2">sales@excellencetechnologies</p>
    </div>
   </div>
 </div>
 <div class="foo1">
   <div class="nineth_section">
     <div class="nineth_subsection">
       <div><span class="footerhed">ALWAYS STAY IN THE LOOP</span></div><br>
       <div class="footericon">
         <div><img src="../../../assets/images/linkedin-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/fb-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/instagram-white.svg" alt="" width="50vw"></div>
         <div><img src="../../../assets/images/skype-white.svg" alt="" width="50vw"></div>
       </div><br>
       <div><span style="color: #fff; font-size: 15px; font-weight: bold;" >© 2020 - Excellence Technologies Pvt. Ltd.<br>
         All Rights Reserved</span></div>
     </div>
     <div class="hire1">
       <div><p class="footerhed">HIRE US</p></div>
       <div>
         <ul>
           <li><a class="nav-link" routerLink="/Home">Hire ReactJS Development Company</a></li>
           <li><a class="nav-link" routerLink="/about">Hire VueJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/services">Hire Angular Development Company</a></li>
           <li><a class="nav-link" routerLink="/career">Hire Typescript Development Company</a></li>
           <li><a class="nav-link" routerLink="/portfolio">Hire Materialui Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Bootstrap Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Javascript Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Fullstack Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire NextJs Development Company</a></li>
           <li><a class="nav-link" routerLink="/contact">Hire Redux Development Company</a></li>

         </ul>
       </div>
     </div>
     <div  class="hire1">
       <div><span class="footerhed">SERVICES</span></div><br>
         <div>
           <ul>
             <li><a class="nav-link" routerLink="/services">Web Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/mobileapplication">Mobile Application Development</a></li>
             <li><a class="nav-link" routerLink="/services/ecommerceapplication">Ecommerce Store Setup</a></li>
             <li><a class="nav-link" routerLink="/services/backend-api-database">Backend and Database</a></li>
             <li><a class="nav-link" routerLink="/services/cloud-devops">Cloud Deployments & Devops</a></li>
           </ul>
         </div>
     </div>
     <div>
       <div  class="hire1"><span class="footerhed">SOLUTIONS</span></div><br>
       <!-- <div class="fotertec"> -->
         <div>
           <ul>
             <li><a class="nav-link" href="">PWA App Development</a></li>
             <li><a class="nav-link" href="">Responsive Web App Development</a></li>
             <li><a class="nav-link" href="">SSR Web App Development</a></li>
             <li><a class="nav-link" href="">Dashboard Development</a></li>
             <li><a class="nav-link" href="">SAAS Webapp Development</a></li>
             <li><a class="nav-link" href="">Custom CRM & ERP Solutions</a></li>
           </ul>
         </div>
       <!-- </div> -->
     </div>
   </div>
 </div>
 </div>


